{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'b.css' %}">
    
    <title>Document</title>
</head>
<body>
    <div class="chat_window">
        <div class="top_menu">
            <div class="buttons">
                <div class="button close"></div>
                <div class="button minimize"></div>
                <div class="button maximize"></div>
            </div>
            <div class="title">Chat</div>
        </div>
        <ul id="chat-log" class="messages">
    
        </ul>
        <div class="bottom_wrapper clearfix">
            <div class="message_input_wrapper">
                <input id="chat-message-input" class="message_input" placeholder="Type your message here..." />
            </div>
            <div id="chat-message-submit" class="send_message">
                <div class="icon"></div>
                <div class="text">Send</div>
            </div>
        </div>
    </div>
    <div class="message_template">
        <li class="message">
            <div class="avatar"></div>
            <div class="text_wrapper">
                <div class="text"></div>
            </div>
        </li>
    </div>

        
    <script src="{% static 'reconnecting-websocket.js' %}"></script>
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var msgListTag = document.createElement('li');
            var imgTag = document.createElement('img')
            var pTag = document.createElement('p');
            pTag.textContent =  data.message
            imgTag.src = "http://emilcarlsson.se/assets/mikeross.png";
            if(false){
                msgListTag.className = 'sent';
            }else{
                msgListTag.className = 'replies';

            }
            msgListTag.appendChild(imgTag);
            msgListTag.appendChild(pTag);
            
            document.querySelector('#chat-log').appendChild(msgListTag);
            console.log(data.message);
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': "{{username}}"+": "+ message,
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>


